{$SITE_ADDRESS:http://localhost} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:4000
  }

  handle /socket.io/* {
    reverse_proxy api:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }

  @notPreview not path /react-preview.html
  header @notPreview X-Frame-Options DENY

  header /react-preview.html {
    Access-Control-Allow-Origin *
    X-Frame-Options SAMEORIGIN
  }

  header /assets/* Access-Control-Allow-Origin *

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    -Server
  }
}
